<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

  <title>Email List</title>
</head>
<body>
  
  <div id="app">
    <div v-if="flag === true" class="loading">
      <h1>Caricamento...</h1>
    </div>
    <div v-else class="email-list">
      <ul>
        <li v-for="(indirizzo) in indirizzi">
          <span>{{indirizzo}}</span>
        </li>
      </ul>
    </div>
  </div>

  <script src="js/script.js"></script>
</body>
</html>